input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select {
  //font-family: 'Menlo', sans-serif;
  //font-family: 'Helvetica Neue', Helvetica;
  //font-weight: 200;
  //font-size: 14px;
}

body {
  background-color: #3D405B;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
  color: #F4F1DE;
}

#centerContainer {
  //border-radius: 5px;
  background-color:  #3D405B;
  border: none;
  width: 70%;
  text-align: left;
  margin: 0px auto;
}


h1, h2, h3, h4 { font-weight: 400; }

h4{
  border-bottom:1px solid #F4F1DE;
  width: 100%;
}

.btn {
    color: #3D405B;
    background-color: white;
    border-color: #3D405B;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn.active {
  /* let's darken #004E64 a bit for hover effect */
  color: #3D405B;
  border-color: #F4BA02;
  outline: 0;
  background-color: white;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(244, 186, 2);
}

.btn-file {
    color: #F4F1DE;
    background-color: #3D405B;
    border-color: #F4F1DE;
}

.btn-file:hover,
.btn-file:active,
.btn-file:focus,
.btn-file.active {
  /* let's darken #004E64 a bit for hover effect */
  color: #F4BA02;
  border-color: #F4BA02;
  outline: 0;
  background-color: #3D405B;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(244, 186, 2);
}

.btn-custom {
    color: #F4F1DE;
    background-color: #3D405B;
    border-color: #F4F1DE;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus,
.btn-custom.active {
  /* let's darken #004E64 a bit for hover effect */
  color: #F4BA02;
  outline: 0;
  border-color: #F4BA02;
  background-color: #3D405B;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(244, 186, 2);
}

.custom {
    color: #F4F1DE;
    background-color: #3D405B;
    border-color: #F4F1DE;
}

.custom:hover,
.custom:active,
.custom:focus,
.custom.active {
  /* let's darken #004E64 a bit for hover effect */
  color: #F4BA02;
  border-color: #F4BA02;
  outline: 0;
  background-color: #3D405B;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(244, 186, 2);
}

.custom-inner {
    color: #F4F1DE;
    background-color: #494C64;
    border-color: #F4F1DE;
}

.custom-inner:hover,
.custom-inner:active,
.custom-inner:focus,
.custom-inner.active {
  /* let's darken #004E64 a bit for hover effect */
  color: #F4BA02;
  border-color: #F4BA02;
  outline: 0;
  background-color: #494C64;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(244, 186, 2);
}


.btn-inwhite {
    color: #3D405B;
    background-color: white;
    border-color: #3D405B;
}

.btn-inwhite:hover,
.btn-inwhite:active,
.btn-inwhite:focus,
.btn-inwhite.active {
  /* let's darken #004E64 a bit for hover effect */
  color: #F4BA02;
  outline: 0;
  border-color: #F4BA02;
  background-color: white;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(244, 186, 2);
}

.inwhite {
    color: #3D405B;
    background-color: white;
    border-color: #3D405B;
}

.inwhite:hover,
.inwhite:active,
.inwhite:focus,
.inwhite.active {
  /* let's darken #004E64 a bit for hover effect */
  color: #F4BA02;
  outline: 0;
  border-color: #F4BA02;
  background-color: white;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(244, 186, 2);
}

#comment {
    background-color: white;
    border-color: #3D405B;
}

#comment:hover {
    border-color: #F4BA02;
}

#controls {
  /* Appearance */
  padding: 10px 10px 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.55;
  zoom: 0.9;
  /* max-width: 400px; */
  transition: opacity 500ms 0.2s;
  z-index: 10000;
}

.left {
  transform: translate(-100%, 0);
}

.top {
  transform: translate(0, -100%);
}

.topleft {
  transform: translate(-100%, -100%);
}

.white {
  background-color: white;
}

.color {
  background-color: white;
  border-color: #F4BA02;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(244, 186, 2);
}


#controls:hover {
  /* Fade in while hovering */
  opacity: 1;
  transition-delay: 0;
  border-color: #F4BA02;
  /*border-color: #F4BA02;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(244, 186, 2);*/
  z-index: 20000;
}

.form-control{
  color: #F4F1DE;
  background-color: #3D405B;
  border-color: #F4F1DE;
}

.form-control:focus {
  border-color: #F4BA02;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(244, 186, 2);
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  color: #F4F1DE;
  background-color: #3D405B;
  border-color: #F4F1DE;
}

label {
  font-weight: normal;
}

summary {
  display: list-item
}

.mandatory_star {
   color: #F4BA02;
   }

.inner_box {
   border: 1px solid #5E6073;
   background-color: #494C64;
   padding: 1em;
}

.label-danger {
    background-color: #F4BA02;
}

.outerDiv_container{
  width: 100%;
  margin: 0 auto;
  border: none;
  padding: 0px;
}

.outerDiv {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*-------------------------*/
/*CSS code for the spinner*/
/*-----------------------*/

.loader {
  width: 35px;
  height: 35px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border: 1px solid #F4F1DE;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px #F4F1DE;
  position: absolute;
  left: 0;
  top: 0;
  animation: rotationBreak 3s ease-in-out infinite alternate;
}
.loader::after {
  border-color: #C2991A;
  animation-direction: alternate-reverse;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px #C2991A;
}

@keyframes rotationBreak {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------*/
/*CSS code for the popup warnings*/
/*-----------------------------*/

.warning_popup {
  /* Appearance */
  background-color: white;
  color: #3D405B;
  padding: 10px 20px 10px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.85;
  zoom: 0.85;
  transition: opacity 500ms 0.2s;
  z-index: 10000;
}

.warning_popup:hover {
  /* Fade in while hovering */
  opacity: 1;
  transition-delay: 0;
  border-color: #F4BA02;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(244, 186, 2);
  z-index: 20000;
}

.sweet-alert p {
  color: #3D405B;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.sweet-alert h2 {
    color: #3D405B;
    font-size: 30px;
}

/*--------------------------------*/
/*CSS code for the Nav panels    */
/*-----------------------------*/

.tab-content {margin-top: 20px;}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #F4BA02;
    cursor: default;
    background-color: white;
    border: 1px solid #F4BA02;
    border-bottom-color: transparent;
}

.nav-tabs>li>a {
    border-bottom: 1px solid #bdbdbd;
    color: #3D405B;
}

.nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    background-color: #f0f0f0;
    border-bottom: 1px solid #bdbdbd;
    color: #3D405B;
}

.nav-tabs {
    border-bottom: 1px solid transparent;
}

a {
    color: #3D405B;
    text-decoration: none;
}

/*--------------------------------*/
/*CSS code for filtering panel  */
/*-----------------------------*/

.dropdown {
  display: inline;
}

.dropdown-menu {
  color: #3D405B;
  background-color: white;
  border-color:  #3D405B;
  font-size: 14px;
  opacity: 0.9;
  z-index: 20000;
}

.dropdown-menu:hover {
  /* let's darken #004E64 a bit for hover effect */
  border-color:  #F4BA02;
  z-index: 20000;
  opacity: 1;
}

h5 {
  border-bottom:1px solid #3D405B;
  width: 100%;
}

.btn-custom_filtering {
    color: #F4F1DE;
    background-color: #3D405B;
    border-color: #ABAAAA;
    padding: 1pt;
    padding-right: 5px;
    padding-left: 7px;
    margin: 0px;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 800;
}

.btn-custom_filtering:hover,
.btn-custom_filtering:active,
.btn-custom_filtering:focus,
.btn-custom_filtering.active {
  /* let's darken #004E64 a bit for hover effect */
  color: #F4BA02;
  outline: 0;
  background-color: #3D405B;
  border-color:  #F4BA02;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(244, 186, 2);
}


.inline label{ display: table-cell; text-align: left; vertical-align: middle; }
                 .inline .form-group{display: table-row;}


.form_filtering {
    color: #3D405B !important;
    background-color: white !important;
    border-color: #3D405B !important;
}

/*--------------------------------*/
/*CSS progress bar  */
/*-----------------------------*/


.progress.shiny-file-input-progress {
  background-color:#3D405B;
}

.progress-bar {
  background-color:#F4BA02;
  color: #3D405B;
}

/*--------------------------------*/
/*Switch button  */
/*-----------------------------*/

.bootstrap-switch-label{
  font-size: 13px !important;
  font-weight: 400 !important;
  color: #3D405B;
  background-color: #F4F1DE;
}

.bootstrap-switch-low{
  font-size: 13px !important;
  font-weight: 400 !important;
  color: #F4F1DE;
}

.bootstrap-switch-high{
  font-size: 13px !important;
  font-weight: 400 !important;
  color: #F4F1DE;
}

.bootstrap-switch{
  border-color: #F4F1DE !important;
  border: 1px solid #F4F1DE !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px  rgba(0,0,0,.075) !important;
}

.bootstrap-switch:hover,
.bootstrap-switch:active,
.bootstrap-switch:focus,
.bootstrap-switch.active
.bootstrap-switch.focused{
  border-color: #F4F1DE !important;
  border: 1px solid #F4F1DE !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px  rgba(0,0,0,.075) !important;
}


